@use '../../scss/utility';

:host {
  display: block;
  position: relative;

  app-hero-banner {
    // display: block;
    // border: 1px solid magenta;
  }

  .gmap-container {
    z-index: 1;
    position: relative;
    width: 96vw;
    height: 90vh;
    overflow: hidden;
    border-radius: 1rem;
    left: 2vw;    
    top: -5vw;

    @include utility.media-breakpoint-gte('xs') {
      width: 90vw;
      left: 5vw;
      top: -4vw;
    }
    @include utility.media-breakpoint-gte('sm') {
      width: 80vw;
      left: 10vw;
      top: -6vw;
    }
    @include utility.media-breakpoint-gte('md') {
      width: 80vw;
      left: 10vw;
      top: -2vw;
    }

    @media (orientation: portrait) {
      width: 96vw;
      height: 90vh;
      left: 2vw;    
      top: -60vw;
    
      @include utility.media-breakpoint-gte('min') {
        top: -50vw;
      }
      @include utility.media-breakpoint-gte('xs') {
        width: 90vw;
        left: 5vw;
        top: -12vw;
      }
      @include utility.media-breakpoint-gte('sm') {
        width: 80vw;
        left: 10vw;
        top: -6vw;
      }
      @include utility.media-breakpoint-gte('md') {
        width: 80vw;
        left: 10vw;
        top: -6vw;
      }
    }
  }
  .separator {
    width: clamp(100px, 14vw, 200px);
    margin: 8vw auto 10vw;
    @include utility.media-breakpoint-gte('xs') {
      margin-top: 6vw;
    }
    @include utility.media-breakpoint-gte('sm') {
      margin-top: 8vw;
      margin-bottom: 10vw;
    }
    @include utility.media-breakpoint-gte('md') {
      margin-top: 8vw;
    }
    @include utility.media-breakpoint-gte('lg') {
      margin-top: 8vw;
    }
    @media (orientation: portrait) {
      margin: -25vw auto clamp(4rem, 20vw, 8rem);
      @include utility.media-breakpoint-gte('xs') {
        margin-top: 10vw;
      }
      @include utility.media-breakpoint-gte('sm') {
        margin-top: 10vw;
      }
      @include utility.media-breakpoint-gte('md') {
        margin-top: 6vw;
      }
      @include utility.media-breakpoint-gte('lg') {
        margin-top: 6vw;
      }
    }
    svg {
      path {
        &.highlight-color {
          fill: utility.$dive-red;
        }
      }
    }
  }
}