<div class="carousel">
  <div class="carousel-container">
    <ng-container *ngIf="debugging; else faceContents">
      <app-carousel-pane *ngFor="let face of faces$; let i = index" [gradient]="gradients[i]"
        [faceDirection]="faceDirections[i]" 
        [faceLabel]="(face | async) || ''"
        (click)="onClick($event)"
        (swipe)="onSwipe($event)"
      ></app-carousel-pane>
    </ng-container>
    <ng-template #faceContents>
      <app-carousel-pane *ngFor="let template of templates$; let i = index" [gradient]="gradients[i]"
        [viewMode]="carouselPaneExpanded[i]"
        [faceDirection]="faceDirections[i]" 
        [faceTemplate]="(templates$[i] | async)"
        (click)="onClick($event)"
        (tap)="onTap($event)"
        (swipe)="onSwipe($event)"
      ></app-carousel-pane>
    </ng-template>
  </div>
  <div class="rotaters">
    <button class="rotate left" (click)="rotateLeft()">&lt;</button>
    <button class="rotate right" (click)="rotateRight()">&gt;</button>
  </div>