
<div class="main">
  <div class="hero-banner-container">
    <app-hero-banner
      imgSrc="url(assets/images/home/dive-inn-exterior.jpg)"
      [textLines]="heroBannerTitleLines"
      [orientationConfigs]="heroBannerConfigs"
    >
      <div class="hero-banner-content">
        <a routerLink="/find-us">
          <img src="assets/images/westword_best_dive_bar.png">
        </a>
      </div>
    </app-hero-banner>
    <app-food-logos></app-food-logos>
  </div>


  <button appAnimateViewportOverlay="/inside">Inside</button>
  <br>
  <br>
  <button appAnimateViewportOverlay="/menu">Menu</button>
</div>
