
<div class="main">
  <!-- <app-mouse-tracker
    bgPosition="50% 21.7%"
    bgSize="110%"
    imgSrc="url(assets/images/home/dive-inn-exterior.jpg)"></app-mouse-tracker> -->

  <app-hero-banner
    imgSrc="url(assets/images/home/dive-inn-exterior.jpg)"
    [textLines]="heroBannerTitleLines"
    [orientationConfigs]="heroBannerConfigs"
  ></app-hero-banner>

  <button appAnimateViewportOverlay="/inside">Inside</button>
  <br>
  <br>
  <button appAnimateViewportOverlay="/menu">Menu</button>
</div>
