@use '../../scss/utility';

@mixin coverAbsolute() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

$textMaxWidth: 30vw;


:host {

  .hero-banner-container {
    position: relative;
    //overflow: hidden;

    app-mouse-tracker {
      position: absolute;
      //height: var(--height);
      width: 100%;
      height: 100%;
    }

    .title-container {
      position: relative;
      width: var(--textWidth);
      top: var(--textTop);
      left: var(--textLeft);
      transform: var(--textContainerTransform);
      text-align: var(--textAlign);

      // TODO: add to model?
      padding: 20vw 0;


      h1.title {
        z-index: 0;
        position: relative;
        // top: -7vw;
        // left: -4vw;
        transform: var(--textTransform);
        margin: 0;
        //text-align: right;

        font-size: 6vw; // TODO - make a variable input
        line-height: 1.4;

        color: utility.$dive-black;
        -webkit-text-stroke: 0.05em utility.$dive-red;

        &::after {
          content: attr(card-title);
          z-index: -1;
          @include coverAbsolute();
          -webkit-text-stroke: 0.2em utility.$dive-white;
        }
      }
    }
  }
}