<div *ngIf="animationState === overlayId"
  @overlayTransitions
  (@overlayTransitions.done)="onAnimationDone($event)"
>
  <div #InfoContainer class="overlay info-container">
    <div class="info-content">
      <div class="info-album-container">
        <app-album-display
          [showInfo]="false"
          title=""
          description=""
          [imageUrls]="imageUrls"
        ></app-album-display>
      </div>
      <h2>{{ title }}</h2>
    </div>
  </div>

  <div *ngIf="!!capacity" class="overlay obscure-bg aside-container">
    <div *ngIf="!!capacity" class="capacity-container">
      <div class="number">{{ capacity[0] }}</div>
      <div>to</div>
      <div class="number">{{ capacity[1] }}</div>
    </div>
    <img class="person" src="/assets/images/person.svg" />
  </div>

  <button class="overlay close-button">x</button>
</div> 