@use "../../../scss/utility";

:host {
  .overlay {
    z-index: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    
    h2 {
      font-size: 6vw;
      margin: 0;
      padding: 1vw;
      line-height: 1;
    }
    img {
      width: 100%;
    }

    &.info-container {
      position: absolute;
      top: var(--infoTop);
      right: var(--infoRight);
      bottom: var(--infoBottom);
      left: var(--infoLeft);
    }
  
    &.aside-container {
      position: absolute;
      top: var(--asideTop);
      right: var(--asideRight);
      bottom: var(--asideBottom);
      left: var(--asideLeft);
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      font-size: 4vw;
      font-weight: bold;
    }
  }
}