<div #Top></div>
<div [@fadeScaletransitionsParent]="(formState$ | async)" (@fadeScaletransitionsParent.done)="animationDone($event)" [ngSwitch]="(formState$ | async)" class="reservation-form-container">
  <div class="active" *ngSwitchCase="reservationFormState.ENTRY"><ng-container *ngTemplateOutlet="Form"></ng-container></div>
  <div class="active" *ngSwitchCase="reservationFormState.SUBMITING"><ng-container *ngTemplateOutlet="Loading"></ng-container></div>
  <div class="active" *ngSwitchCase="reservationFormState.SUCCESS"><ng-container *ngTemplateOutlet="Success"></ng-container></div>
  <div class="active" *ngSwitchCase="reservationFormState.ERROR"><ng-container *ngTemplateOutlet="Error"></ng-container></div>
</div>

<ng-template #Form>
  <h2 class="form-title">Reservation Request</h2>
  <p class="form-intro"><span>Room rental is free of charge</span>
    <button (click)="infoClicked('open')"><img src="/assets/images/Info.svg"/></button></p>
    <div *ngIf="showInfo" class="info-container">
      {{ copyEmail().reservations.email.features.header }} <br>
      - {{ copyEmail().reservations.email.features.noCharge }} <br>
      - {{ copyEmail().reservations.email.features.noDrinkMin }} <br>
      - {{ copyEmail().reservations.email.features.boatGroup13 }} <br>
      - {{ copyEmail().reservations.email.features.under21til6 }} <br> <br>
      {{ copyEmail().reservations.email.doNots.header }} <br>
      - {{ copyEmail().reservations.email.doNots.noMovingTables }} <br>
      - {{ copyEmail().reservations.email.doNots.noOutsideFood }} <br>
      - {{ copyEmail().reservations.email.doNots.noReserveGames }} <br> <br>
    </div>
  <form [formGroup]="emailForm" #ngForm="ngForm" (ngSubmit)="sendEmail()">
      
    <div class="label-column label-organizer required">
      <label for="organizer" class="nowrap">Organizer<span>*</span></label>
    </div>
    <div class="input-organizer">
      <input type="text" id="organizer" formControlName="organizer">
    </div>
        
    <div class="label-column label-phone required">
      <label for="phone" class="nowrap">Phone<span>*</span></label>
    </div>
    <div class="input-phone">
      <input type="text" id="phone" formControlName="phone">
    </div>
    
    <div class="label-column label-email required">
      <label for="email" class="nowrap">Email<span>*</span></label>
    </div>
    <div class="input-email">
      <input type="text" id="email" formControlName="email">
    </div>
    
    <div class="label-column label-contact required">
      <label class="nowrap">Preferred<span>*</span></label>
    </div>
    <div class="input-contact-email">
      <input type="radio" id="preferred-contact-email" [value]="contactType.EMAIL" formControlName="contactMethod">
      <label for="preferred-contact-email">Email</label>
    </div>
    <div class="input-contact-voice">
      <input type="radio" id="preferred-contact-voice" [value]="contactType.VOICE" formControlName="contactMethod">
      <label for="preferred-contact-voice">Voice</label>
    </div>
    <div class="input-contact-text">
      <input type="radio" id="preferred-contact-text" [value]="contactType.TEXT" formControlName="contactMethod">
      <label for="preferred-contact-text">Text</label>
    </div>

    <div class="label-column label-date required">
      <label for="date" class="nowrap">Date<span>*</span></label>
    </div>
    <div class="input-date">
      <input type="date" id="date" formControlName="partyDate">
    </div>
    
    <div class="label-column label-start-time required">
      <label for="start-time" class="nowrap">Start<span>*</span></label>
    </div>
    <div class="input-start-time">
      <input type="time" id="start-time" formControlName="startTime">
    </div>

    <div class="label-column label-theme">
      <label for="party-theme">Theme</label>
    </div>
    <div class="input-theme">
      <input type="text" id="party-theme" formControlName="partyTheme">
    </div>
    
    <div class="label-column label-birthday">
      <label for="birthday" class="birthday">Birthday</label>
    </div>
    <div class="input-birthday">
      <input type="checkbox" id="birthday" formControlName="birthday">
    </div>
    <div class="label-column label-age">
      <label for="birthday-age">Age</label>    
    </div>
    <div class="input-age">
      <input type="text" id="birthday-age" formControlName="birthdayAge">
    </div>
    
    <div class="label-column label-birthday-name">
      <label for="birthday-name">Name</label>
    </div>
    <div class="input-birthday-name">
      <input type="text" id="birthday-name" formControlName="birthdayName">
    </div>

    <div class="label-column label-headcount required">
      <label for="headcount" class="nowrap">Headcount<span>*</span></label>
    </div>
    <div class="input-headcount">
      <input type="number" id="headcount" min="1" formControlName="headcount">
    </div>
    
    <div class="label-column label-notes">
      <label for="comments">Notes</label>
    </div>
    <div class="input-notes">
      <textarea type="text" id="comments" class="" style="resize: none" formControlName="comments"></textarea>
    </div>

    <div class="input-submit">
      <button type="submit" (click)="clickEmpty($event)">Submit</button>
      <small *ngIf="ngForm.submitted && ngForm.invalid" class="form-errors">Please correct<br>errors above</small>
    </div>
  </form>
</ng-template>

<ng-template #Loading>
  <div class="status-card">
    <div class="status-message">
      <h2>Submitting</h2>
      <p>Please wait...</p>
    </div>
  </div>
</ng-template>

<ng-template #Success>
  <div class="status-card">
    <div class="status-message">
      <h2>Reservation Submitted!</h2>
      <p>We received your request to celebrate on:</p>
      <p>{{ emailForm.get('partyDate')?.value }}</p>
      <p>You should receive a confirmation email shortly.</p>
      <button (click)="errorCancelClick()">Return to Form</button>
      <p>If you do not receive an email within an hour, please call to confirm your reservation details:<br/><a href="tel:7202426157">720-242-6157</a></p>
    </div>
  </div>
</ng-template>

<ng-template #Error>
  <div class="status-card">
    <div class="status-message error">
      <h2>Error Submitting Request!</h2>
      <p>Something went wrong submitting your reservation, and we may not have received your request.</p>
      <div class="buttons">
        <button (click)="errorCancelClick()">Edit Reservation</button>
        <button (click)="sendEmail()">Resend Request</button>
      </div>
      <p>If you are still unable to send your reservation, please call us at: <br><a href="tel:7202426157">720-242-6157</a></p>
      <p class="small-text">Frustrations with or suggestions for the site? Email us at: <a href="mailto:support@diveinndenver.com?subject=Dive%20Inn%20Support">support@<br>diveinndenver.com</a></p>
    </div>
  </div>
</ng-template>