@use '../../scss/utility';

:host {

  margin: 0 5vw;

  button {
    background-color: utility.$dive-gray-dk;
    color: utility.$dive-yellow;
    cursor: pointer;
  }

  div {
    padding: .3rem;
  }

  input, textarea {
    margin: 0 1rem;
  }

  .large-input {
    height: 10vh;
  }

  .small-input {
    width: 3rem;
  }

  .checkboxes {
    display: flex;
    flex-flow: row wrap;

    div {
      padding: 0;
    }
  }

  .birthday {
    margin-right: 2rem;
  }

  .organizer-details {
    margin-left: 2rem;
  }

  .invalid-message {
    background-color: utility.$dive-gray-dk;
    // color: utility.$dive-red;
  }

  input[type=checkbox] {
    margin: 0 .25rem 0 .75rem;
  }

  @media (max-width: 500px) {
    font-size: .75rem;
  }
}