<form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
    
  <div class="label-column label-organizer">
    <label for="organizer">Organizer</label>
  </div>
  <div class="input-organizer">
    <input type="text" id="organizer" formControlName="organizer">
      <small class="invalid-message" *ngIf="submitted && emailForm.get('organizer')?.hasError('required')">
        * required
      </small>
  </div>
      
  <div class="label-column label-phone">
    <label for="phone">Phone</label>
  </div>
  <div class="input-phone">
    <input type="text" id="phone" formControlName="phone">
  </div>
  
  <div class="label-column label-email">
    <label for="email">Email</label>
  </div>
  <div class="input-email">
    <input type="text" id="email" formControlName="email">
    <small class="invalid-message" *ngIf="emailForm.get('email')?.touched && emailForm.get('email')?.hasError('pattern')">
      * Please provide a valid email address
    </small>
    <small class="invalid-message" *ngIf="submitted && emailForm.get('email')?.hasError('required')">
      * required
    </small>
  </div>
  
  <div class="label-column label-contact">
    <label>Preferred</label>
  </div>
  <div class="input-contact-email">
    <input type="radio" id="preferred-contact-email" [value]="contactType.EMAIL" formControlName="contactMethod">
    <label for="preferred-contact-email">Email</label>
  </div>
  <div class="input-contact-voice">
    <input type="radio" id="preferred-contact-voice" [value]="contactType.VOICE" formControlName="contactMethod">
    <label for="preferred-contact-voice">Voice</label>
  </div>
  <div class="input-contact-text">
    <input type="radio" id="preferred-contact-text" [value]="contactType.TEXT" formControlName="contactMethod">
    <label for="preferred-contact-text">Text</label>
  </div>

  <div class="label-column label-date">
    <label for="date">Date</label>
  </div>
  <div class="input-date">
    <input type="date" id="date" formControlName="partyDate">
    <small class="invalid-message" *ngIf="submitted && emailForm.get('partyDate')?.hasError('required')">
      * required
    </small>
  </div>
  
  <div class="label-column label-start-time">
    <label for="start-time">Start</label>
  </div>
  <div class="input-start-time">
    <input type="time" id="start-time" formControlName="startTime">
    <small class="invalid-message" *ngIf="submitted && emailForm.get('startTime')?.hasError('required')">
      * required
    </small>
  </div>
  <div class="label-column label-end-time">
    <label for="end-time">End</label>
  </div>
  <div class="input-end-time">
    <input type="time" id="end-time" formControlName="endTime">
    <small class="invalid-message" *ngIf="submitted && emailForm.get('endTime')?.hasError('required')">
      * required
    </small>
  </div>

  <div class="label-column label-headcount">
    <label for="headcount">Headcount</label>
  </div>
  <div class="input-headcount">
    <input type="number" id="headcount" formControlName="headcount">
    <small class="invalid-message" *ngIf="submitted && emailForm.get('headcount')?.hasError('required')">
      * required, numbers only
    </small>
  </div>

  <div class="label-column label-theme">
    <label for="party-theme">Theme</label>
  </div>
  <div class="input-theme">
    <input type="text" id="party-theme" formControlName="partyTheme">
    <!-- <label>(Example: A-1 Scuba Holiday Party or Jacques Is Diving Into “50”)</label> -->
  </div>
  
  <div class="label-column label-birthday">
    <label for="birthday" class="birthday">Birthday</label>
  </div>
  <div class="input-birthday">
    <input type="checkbox" id="birthday" formControlName="birthday">
  </div>
  <div class="label-column label-age">
    <label for="birthday-age">Age</label>    
  </div>
  <div class="input-age">
    <input type="text" id="birthday-age" formControlName="birthdayAge">
  </div>
  
  <div class="label-column label-birthday-name">
    <label for="birthday-name">Name</label>
  </div>
  <div class="input-birthday-name">
    <input type="text" id="birthday-name" formControlName="birthdayName">
  </div>

  <div class="checkboxes label-column label-preferred-space">
    <label>Preferred Space</label>
  </div>
  <div class="preferred-space-1">
    <input type="checkbox" id="space-main-room" formControlName="preferredSpaceMainRoom">
    <label for="space-main-room"><span>1.</span> The Oasis <span>(18-24)</span></label>
  </div>
  <div class="preferred-space-2">
    <input type="checkbox" id="space-party-boat" formControlName="preferredSpacePartyBoat">
    <label for="space-party-boat"><span>2.</span> Party Boat <span>(1-13)</span></label>
  </div>
  <div class="preferred-space-3">
    <input type="checkbox" id="space-north-patio" formControlName="preferredSpaceNorthPatio">
    <label for="space-north-patio"><span>3.</span> Main Galley <span>(50-60)</span></label>
  </div>
  <div class="preferred-space-4">
    <input type="checkbox" id="space-north-room" formControlName="preferredSpaceNorthRoom">
    <label for="space-north-room"><span>4.</span> South Cabin <span>(40-50)</span></label>
  </div>
  <div class="preferred-space-5">
    <input type="checkbox" id="space-game-room" formControlName="preferredSpaceGameRoom">
    <label for="space-south-room"><span>5.</span> South Patio <span>(80-100)</span></label>
  </div>
  <div class="preferred-space-6">
    <input type="checkbox" id="space-south-room" formControlName="preferredSpaceSouthRoom">
    <label for="space-south-room"><span>6.</span> The Saloon <span>(40-70)</span></label>
  </div>
  <div class="preferred-space-7">
    <input type="checkbox" id="space-south-patio" formControlName="preferredSpaceSouthPatio">
    <label for="space-south-patio"><span>7.</span> North Patio <span>(10-250)</span></label>
  </div>
  <div class="preferred-space-8">
    <input type="checkbox" id="space-none" formControlName="preferredSpaceNone">
    <label for="space-none">No Preference</label>
  </div>
  
  <div class="label-column label-notes">
    <label for="comments">Notes</label>
  </div>
  <div class="input-notes">
    <textarea type="text" id="comments" class="" style="resize: none" formControlName="comments"></textarea>
  </div>

  <div class="input-submit">
    <button type="submit">Submit</button>
  </div>
</form>
