<!-- <div>Map: {{ this.mapAnimation }}</div>
<div>Marker: {{ this.mapMarkerAnimation }}</div>
<div>Overlay: {{ this.overlayAnimation }}</div>
<div>Next: {{ nextSpace }}</div> -->

<div class="rental-map-container">
  <div
    (click)="toggleZoom($event, null)"
    [@mapTransitions]="mapAnimation"
    (@mapTransitions.done)="mapAnimationDone($event)"
    class="rental-map"
  >
    <div
      *ngIf="overlayAnimation === rentalSpaces.LEGEND"
      @overlayTransitions
      (@overlayTransitions.done)="overlayAnimationDone($event)"
      class="overlay"
    >
      <div class="overlay-legend">
        <h2>Legend</h2>
      </div>
    </div>
    <div
      *ngIf="overlayAnimation === rentalSpaces.SPACE1"
      @overlayTransitions
      (@overlayTransitions.done)="overlayAnimationDone($event)"
      class="overlay"
    >
      <div class="overlay-1a"><h2>The Oasis</h2></div>
      <div class="overlay-1b"><span class="occupancy">18 - 24</span></div>
    </div>
    <div
      *ngIf="overlayAnimation === rentalSpaces.SPACE2"
      @overlayTransitions
      (@overlayTransitions.done)="overlayAnimationDone($event)"
      class="overlay"
    >
      <div class="overlay-2a"><h2>The Boat</h2></div>
      <div class="overlay-2b"><span class="occupancy">1 - 13</span></div>
    </div>
    <div
      *ngIf="overlayAnimation === rentalSpaces.SPACE3"
      @overlayTransitions
      (@overlayTransitions.done)="overlayAnimationDone($event)"
      class="overlay"
    >
      <div class="overlay-3a"><h2>The Galley</h2></div>
      <div class="overlay-3b"><span class="occupancy">50 - 60</span></div>
    </div>
    <div
      *ngIf="overlayAnimation === rentalSpaces.SPACE4"
      @overlayTransitions
      (@overlayTransitions.done)="overlayAnimationDone($event)"
      class="overlay"
    >
      <div class="overlay-4a"><h2>The Cabin</h2></div>
      <div class="overlay-4b"><span class="occupancy">40 - 50</span></div>
    </div>
    <div
      *ngIf="overlayAnimation === rentalSpaces.SPACE5"
      @overlayTransitions
      (@overlayTransitions.done)="overlayAnimationDone($event)"
      class="overlay"
    >
      <div class="overlay-5a"><h2>The Deck</h2></div>
      <div class="overlay-5b"><span class="occupancy">80 - 100</span></div>
    </div>
    <div
      *ngIf="overlayAnimation === rentalSpaces.SPACE6"
      @overlayTransitions
      (@overlayTransitions.done)="overlayAnimationDone($event)"
      class="overlay"
    >
      <div class="overlay-6a"><h2>The Saloon</h2></div>
      <div class="overlay-6b"><span class="occupancy">40 - 70</span></div>
    </div>
    <div
      *ngIf="overlayAnimation === rentalSpaces.SPACE7"
      @overlayTransitions
      (@overlayTransitions.done)="overlayAnimationDone($event)"
      class="overlay"
    >
      <div class="overlay-7a"><h2>The Cabana</h2></div>
      <div class="overlay-7b"><span class="occupancy">10 - 250</span></div>
    </div>

    <!-- Markers for spaces with number in circle -->
    <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      (@mapMarkerTransitions.done)="mapMarkerAnimationDone($event)"
      class="number-circle space-1"
      (click)="toggleZoom($event, rentalSpaces.SPACE1)"
    >
      1
    </div>
    <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      class="number-circle space-2"
      (click)="toggleZoom($event, rentalSpaces.SPACE2)"
    >
      2
    </div>
    <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      class="number-circle space-3"
      (click)="toggleZoom($event, rentalSpaces.SPACE3)"
    >
      3
    </div>
    <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      class="number-circle space-4"
      (click)="toggleZoom($event, rentalSpaces.SPACE4)"
    >
      4
    </div>
    <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      class="number-circle space-5"
      (click)="toggleZoom($event, rentalSpaces.SPACE5)"
    >
      5
    </div>
    <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      class="number-circle space-6"
      (click)="toggleZoom($event, rentalSpaces.SPACE6)"
    >
      6
    </div>
    <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      class="number-circle space-7"
      (click)="toggleZoom($event, rentalSpaces.SPACE7)"
    >
      7
    </div>
    <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      class="legend-zoom"
      (click)="toggleZoom($event, rentalSpaces.LEGEND)"
    >
      <img src="/assets/images/Magnifying_Glass.svg" />
    </div>
  </div>
</div>
