<div class="rental-map-container">
  <!-- <img src="assets/images/Dive_Inn_Rental_Layout.png"> -->
  <div (click)="toggleZoom($event, null)"
    class="rental-map"
    [ngClass]="{
      'legend-zoom': zooms.get(rentalSpaces.LEGEND),
      'space-1': zooms.get(rentalSpaces.SPACE1),
      'space-2': zooms.get(rentalSpaces.SPACE2),
      'space-3': zooms.get(rentalSpaces.SPACE3),
      'space-4': zooms.get(rentalSpaces.SPACE4),
      'space-5': zooms.get(rentalSpaces.SPACE5),
      'space-6': zooms.get(rentalSpaces.SPACE6),
      'space-7': zooms.get(rentalSpaces.SPACE7)
    }"
  >
    <div *ngIf="!zoomed"
      @spaceMarkerTransitions
      class="number-circle space-1" (click)="toggleZoom($event, rentalSpaces.SPACE1)"
    >
      1
    </div>

    <div *ngIf="!zoomed"
      @spaceMarkerTransitions
      class="number-circle space-2" (click)="toggleZoom($event, rentalSpaces.SPACE2)"
    >
      2
    </div>

    <div *ngIf="!zoomed"
      @spaceMarkerTransitions
      class="number-circle space-3" (click)="toggleZoom($event, rentalSpaces.SPACE3)"
    >
      3
    </div>

    <div *ngIf="!zoomed"
      @spaceMarkerTransitions
      class="number-circle space-4" (click)="toggleZoom($event, rentalSpaces.SPACE4)"
    >
      4
    </div>

    <div *ngIf="!zoomed"
      @spaceMarkerTransitions
      class="number-circle space-5" (click)="toggleZoom($event, rentalSpaces.SPACE5)"
    >
      5
    </div>

    <div *ngIf="!zoomed"
      @spaceMarkerTransitions
      class="number-circle space-6" (click)="toggleZoom($event, rentalSpaces.SPACE6)"
    >
      6
    </div>

    <div *ngIf="!zoomed"
      @spaceMarkerTransitions
      class="number-circle space-7" (click)="toggleZoom($event, rentalSpaces.SPACE7)"
    >
      7
    </div>

    <div *ngIf="!zoomed"
      @spaceMarkerTransitions
      class="legend-zoom" (click)="toggleZoom($event, rentalSpaces.LEGEND)">
      <img src="/assets/images/Magnifying_Glass.svg">
    </div>
  </div>
</div>