<!-- <div>Map: {{ this.mapAnimation }}</div>
<div>Marker: {{ this.mapMarkerAnimation }}</div>
<div>Overlay: {{ this.overlayAnimation }}</div>
<div>Next: {{ nextSpace }}</div> -->


<!-- [@mapTransitions]="mapAnimation"
    (@mapTransitions.done)="mapAnimationDone($event)" -->
<div class="rental-map-container">
  <div
    (click)="toggleZoom($event, null)"    
    class="rental-map"
    [@mapTransitions]="mapAnimation"
    (@mapTransitions.done)="mapAnimationDone($event)" 
  >
    <div [@mapOverlayTransitions]="mapAnimation" class="rental-map-overlay"></div>

    <app-rental-space-overlay      
      title=""
      [positionCss]="{ info: ['0%','0%','0%','0%'], aside: ['50%','50%','50%','50%'] }"
      [overlayId]="RentalSpaces.LEGEND"
      [animationState]="overlayAnimation"
      [imageUrls]="[
        '/assets/images/private-parties/Rental_Map_Legend.svg'
      ]"
      [capacity]="null"
      (animationDone)="overlayAnimationDone($event)"
    ></app-rental-space-overlay>
    <app-rental-space-overlay
      title="The Oasis"
      [positionCss]="{ info: ['0%','0%','0%','0%'], aside: ['76%','0%','0%','81%'] }"
      [overlayId]="RentalSpaces.SPACE1"
      [animationState]="overlayAnimation"
      [imageUrls]="[
        '/assets/images/private-parties/Rental_Map_No_Images.svg',
      ]"
      [capacity]="[18,24]"
      (animationDone)="overlayAnimationDone($event)"
    ></app-rental-space-overlay>
    <app-rental-space-overlay
      title="The Boat"
      [positionCss]="{ info: ['0%','0%','0%','0%'], aside: ['76%','0%','0%','81%'] }"
      [overlayId]="RentalSpaces.SPACE2"
      [animationState]="overlayAnimation"
      [imageUrls]="[
        '/assets/images/tour/boat_diagonal2.jpg',
        '/assets/images/tour/boat_front.jpg'
      ]"
      [capacity]="[1,13]"
      (animationDone)="overlayAnimationDone($event)"
    ></app-rental-space-overlay>
    <app-rental-space-overlay
      title="The Galley"
      [positionCss]="{ info: ['0%','0%','0%','0%'], aside: ['76%','0%','0%','81%'] }"
      [overlayId]="RentalSpaces.SPACE3"
      [animationState]="overlayAnimation"
      [imageUrls]="[
        '/assets/images/tour/main_room2.jpg',
        '/assets/images/tour/main_room3.jpg'
      ]"
      [capacity]="[50,60]"
      (animationDone)="overlayAnimationDone($event)"
    ></app-rental-space-overlay>
    <app-rental-space-overlay
      title="The Cabin"
      [positionCss]="{ info: ['0%','0%','0%','0%'], aside: ['76%','0%','0%','81%'] }"
      [overlayId]="RentalSpaces.SPACE4"
      [animationState]="overlayAnimation"
      [imageUrls]="[
        '/assets/images/tour/side_room.jpg',
        '/assets/images/tour/side_room2.jpg'
      ]"
      [capacity]="[40,50]"
      (animationDone)="overlayAnimationDone($event)"
    ></app-rental-space-overlay>
    <app-rental-space-overlay
      title="The Deck"
      [positionCss]="{ info: ['0%','0%','0%','0%'], aside: ['76%','0%','0%','81%'] }"
      [overlayId]="RentalSpaces.SPACE5"
      [animationState]="overlayAnimation"
      [imageUrls]="[
        '/assets/images/tour/south_patio.jpg',
        '/assets/images/tour/south_patio2.jpg',
        '/assets/images/tour/south_patio3.jpg',
        '/assets/images/tour/south_patio4.jpg',
        '/assets/images/tour/south_patio5.jpg'
      ]"
      [capacity]="[80,100]"
      (animationDone)="overlayAnimationDone($event)"
    ></app-rental-space-overlay>
    <app-rental-space-overlay
      title="The Saloon"
      [positionCss]="{ info: ['0%','0%','0%','0%'], aside: ['76%','0%','0%','81%'] }"
      [overlayId]="RentalSpaces.SPACE6"
      [animationState]="overlayAnimation"
      [imageUrls]="[
        '/assets/images/tour/north_room.jpg',
        '/assets/images/tour/north_room3.jpg',
        '/assets/images/tour/north_room5.jpg',
        '/assets/images/tour/north_room6.jpg',
      ]"
      [capacity]="[40,70]"
      (animationDone)="overlayAnimationDone($event)"
    ></app-rental-space-overlay>
    <app-rental-space-overlay
      title="The Cabana"
      [positionCss]="{ info: ['0%','0%','0%','0%'], aside: ['76%','0%','0%','81%'] }"
      [overlayId]="RentalSpaces.SPACE7"
      [animationState]="overlayAnimation"
      [imageUrls]="[
        '/assets/images/tour/north_patio.jpg',
        '/assets/images/tour/north_patio2.jpg',
        '/assets/images/tour/north_patio3.jpg',
        '/assets/images/tour/north_patio4.jpg',
        '/assets/images/tour/north_patio5.jpg',
      ]"
      [capacity]="[10,250]"
      (animationDone)="overlayAnimationDone($event)"
    >
    <!-- TODO - Why do 6+ images not display? '/assets/images/tour/north_patio6.jpg' -->
    </app-rental-space-overlay>

    <!-- Markers for spaces with number in circle -->
    <!-- [@mapMarkerTransitions]="mapMarkerAnimation"
      (@mapMarkerTransitions.done)="mapMarkerAnimationDone($event)" -->
    <div *ngIf="mapMarkerAnimation === OpacityAnimationStates.SHOWING"
      [@mapMarkerTransitions]="mapMarkerAnimation"
      (@mapMarkerTransitions.done)="mapMarkerAnimationDone($event)"
    >
      <button *ngFor="let space of rentalSpaceList; let i = index"      
        class="number-circle space-{{i + 1}}"
        [title]="rentalSpaceNames[i]"
        (click)="toggleZoom($event, space)"
        [disabled]="markersDisabled"
      >
        {{ i + 1 }}
      </button>
      <button *ngIf="mapMarkerAnimation === OpacityAnimationStates.SHOWING"
        class="legend-zoom"
        (click)="toggleZoom($event, RentalSpaces.LEGEND)"
        [disabled]="markersDisabled"
      >
        <img src="/assets/images/Magnifying_Glass.svg" />
      </button>
    </div>
    
    <!-- <div *ngFor="let s of rentalSpaceList">{{s}}</div> -->


    <!-- <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      (@mapMarkerTransitions.done)="mapMarkerAnimationDone($event)"
      class="number-circle space-1"
      (click)="toggleZoom($event, rentalSpaces.SPACE1)"
    >
      1
    </div>
    <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      class="number-circle space-2"
      (click)="toggleZoom($event, rentalSpaces.SPACE2)"
    >
      2
    </div>
    <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      class="number-circle space-3"
      (click)="toggleZoom($event, rentalSpaces.SPACE3)"
    >
      3
    </div>
    <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      class="number-circle space-4"
      (click)="toggleZoom($event, rentalSpaces.SPACE4)"
    >
      4
    </div>
    <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      class="number-circle space-5"
      (click)="toggleZoom($event, rentalSpaces.SPACE5)"
    >
      5
    </div>
    <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      class="number-circle space-6"
      (click)="toggleZoom($event, rentalSpaces.SPACE6)"
    >
      6
    </div>
    <div
      [@mapMarkerTransitions]="mapMarkerAnimation"
      class="number-circle space-7"
      (click)="toggleZoom($event, rentalSpaces.SPACE7)"
    >
      7
    </div> -->
  </div>
</div>
