<div id="top" class="main">
  <div>
    <div class="content-container">
        <button class="content specials">
        <h1 class="scroll-offset" id="specials">Specials</h1>
        <div class="image-flip-container">
          <app-image-flip
            [images$]="specialsImages$"
          ></app-image-flip>
        </div>
      </button>
    </div>
    <div class="gradient-container">
      <app-hero-banner imgSrc="url(assets/images/menu/taps.jpg)" [textLines]="heroBannerTitleLinesTaco"
        [orientationConfigs]="heroBannerConfigsTaco">
      </app-hero-banner>
      <div class="gradient-overlay"></div>
    </div>
  </div>

  <div class="separator">
    <img src="assets/images/taco.svg" />
  </div>

  <div id="cluck" class="cluck-container">
    <div class="gradient-container">
      <app-hero-banner imgSrc="url(assets/images/menu/Cluck/finger_basket.jpg)" 
        [textLines]="heroBannerTitleLinesChicken"
        [orientationConfigs]="heroBannerConfigsChicken"
      >
      </app-hero-banner>
      <div class="gradient-overlay"></div>
    </div>
    <div class="cluck">
      <a class="cluck-logo-bg" href="http://cluckchickenden.com/" target="_blank">
        <img id="cluck" src="assets/images/menu/Cluck/Cluck_logo_glow.png" />
      </a>
    </div>
    <div class="tagline-container">
      <p>Taste some of Denver's best fried chicken at our friends next door!</p>
    </div>
  </div>

  <div class="separator">
    <img src="assets/images/Chicken.svg" />
  </div>
</div>

