@use '../../scss/utility';

$zoomAnimationTime: 0.6s;


:host {
  .main {
    // pointer-events: none;

      .content-container {  
        display: flex;
        position: absolute;
        top: 10vw;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        @media (orientation: portrait) {
          flex-direction: column;
          top: clamp(150px, 56vw, 160px);
          @include utility.media-breakpoint-gte(min) {            
          }
          @include utility.media-breakpoint-gte(sm) {
            top: 10vw;
          }
        }

        .scroll-offset {
          scroll-margin: clamp(2rem, 4vw, 10rem);
        }

        .content {          
          z-index: 1;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 88vw;
          height: 45vw;
          cursor: pointer;

          top: clamp(160px, 42vw, 200px);
          @include utility.media-breakpoint-gte(min) {
            width: 88vw;
          }
          @include utility.media-breakpoint-gte(sm) {
            width: 55vw;
            height: 28vw;
          }

          padding: 2vw;
          background-color: rgba(0, 0, 0, 0.5);
          text-align: center;
          transition: all $zoomAnimationTime ease-in-out, box-shadow 0.2s linear;

          &:hover {
            img {
              box-shadow: 2px 2px 16px 0px utility.$dive-red;
            }
          }

          h1 {
            margin: 0 0 clamp(0px, 2vw, 24px);
            font-size: clamp(1rem, 7vw, 3.5rem);
            @include utility.media-breakpoint-gte(sm) {
              font-size: clamp(1.5rem, 3vw, 3.5rem);
            }
          }
          img {
            transition: all $zoomAnimationTime ease-in-out, box-shadow 0.2s linear;
          }
        }

        $skew: skew(-4deg, -2deg) rotate(-4deg);
        .menu {
          transform: $skew;

          @include utility.media-breakpoint-gte(sm) {
            transform: $skew; // translateX(102%);
          }
          text-align: center;

          h1 {
            @include utility.text-double-outline('Menu');
          }

          img {
            width: 20%;
            box-shadow: 2px 2px 16px 0px #000;            
          }
        }

        .specials {
          height: auto;
          transform: $skew; // translateY(122%);
          @include utility.media-breakpoint-gte(sm) {
            transform: $skew; // translateX(-51%);
          }

          h1 {
            @include utility.text-double-outline('Specials');
          }

          img {
            width: 100%;
            box-shadow: 2px 2px 16px 0px #000;
          }

          .image-flip-container {
            width: 100%;
          }
        }
      }

      .gradient-container {
        position: relative;

        .gradient-overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-image: linear-gradient(105deg, utility.$dive-black 0%, transparent 50%, transparent 70%, utility.$dive-black 100%);
          pointer-events: none;
        }
      }
    }

    .separator {
      display: flex;
      justify-content: center;
      padding: clamp(48px, 12vw, 366px);

      svg {
        width: clamp(40px, 10vw, 100px);

        path {
          fill: utility.$dive-red;
        }
      }

      img {
        width: clamp(50px, 12vw, 280px);
      }
    }

    .cluck-container {
      position: relative;

      .cluck {
        position: absolute;
        width: 70vw;
        top: 4vw;
        left: 15vw;
        @include utility.media-breakpoint-gte(sm) {
          width: 50vw;
          left: 25vw;
        }
        @include utility.media-breakpoint-gte(md) {
          width: 40vw;
          left: 30vw;
        }
        @include utility.media-breakpoint-gte(xl) {
          width: 36vw;
          left: 32vw;
        }
        @media (orientation: portrait) {
          @include utility.media-breakpoint-gte(md) {
            width: 40vw;
            left: 30vw;
          }
        }
        text-align: center;
        text-shadow: 2px 2px 2px #000;

        &::after {
          content: none;
        }        

        a {
          position: relative;

          &.cluck-logo-bg {
            display: block;            
            transition: all 0.2s ease;
            img {
              position: relative;
              width: 100%;
              display: block;
            }

            .click {
              position: absolute;
              bottom: 6vw;
              right: 6vw;
              width: 5vw;
            }
          }
        }
      }
      $skew: 2deg;
      .tagline-container {
        position: absolute;
        display: flex;
        align-items: center;
        width: 66vw;
        top: 70vw;
        right: 17vw;
        @include utility.media-breakpoint-gte(sm) {
          width: 50vw;
          top: 54vw;
          right: 25vw;
        }
        @include utility.media-breakpoint-gte(md) {
          top: 44vw;
        }
        @include utility.media-breakpoint-gte(lg) {
          top: 40vw;
        }        
        transform: skew(-$skew * 2, -$skew) rotate(-$skew * 2);
        p {
          margin: 0;
          padding: 3vw 3.5vw;
          font-size: clamp(0.75rem, 3.5vw, 4.5rem);
          font-weight: bold;
          background-color: rgba(0, 0, 0, 0.5);
          text-align: center;
        }
      }
      
    }
  }