<div class="main">
  <div class="taki-tacos">
    <app-hero-banner 
      imgSrc="url(assets/images/menu/tacos_stock_img.jpg)" 
      [textLines]="heroBannerTitleLinesTaco"
      [orientationConfigs]="heroBannerConfigsTaco"
      
    ></app-hero-banner>
    <div class="gradient-overlay"></div>
    <img class="logo" src="assets/images/Taki Takos Logo Transparent.png" />
    <img class="specials" src="assets/images/specials/Taki Takos TNT $8.50.jpg" />
  </div>
  <div class="cluck-container">
    <app-hero-banner 
      imgSrc="url(assets/images/menu/chicken.jpg)" 
      [textLines]="heroBannerTitleLinesChicken"
      [orientationConfigs]="heroBannerConfigsChicken"
    ></app-hero-banner>
    <div class="cluck">
      <a href="http://cluckchickenden.com/" target="_blank">
        <img id="cluck" src="assets/images/Cluck_Chicken_Shadow.svg" />
        <div>
          <h2>Cluck Chicken</h2>
        </div>
        <p>Taste some of Denver's best fried chicken at our friends next door!</p>
      </a>
    </div>
  </div>

  <div class="flyers">
    <!-- <img id="specials" class="specials" src="assets/images/specials/Taki Takos TNT $8.50.jpg" /> -->
    <a href="https://takitakos.com/" target="_blank"><img id="menu" class="menu"
        src="assets/images/menu/Dive_Inn_Menu.jpg" /></a>
  </div>

  <button appAnimateViewportOverlay="/home">Home</button>
  <br>
  <br>
  <button appAnimateViewportOverlay="/inside">Inside</button>
</div>