:host {
  
  #Viewport-Overlay {
    position: fixed;
    z-index: -1;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(255,0,0, 1);
  }
  #Viewport-Content {    
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 2;
  }

  header {
    background-color: #fd0;    
    min-height: 5rem;
  }

  main {
    flex: 1;
    background-color: #fff;
  }

  footer {
    background-color: #0df;
    min-height: 3rem;
  }
  
}