<div id="Viewport-Content">
  
  <app-site-header>Header</app-site-header>

  <app-image-list></app-image-list>

  <!-- NOTE: overlay is NOT inside main so @.disabled doesn't affect it -->
  <div id="Viewport-Overlay" 
    [@viewportAnimation]="viewportOverlayAnimationState$ | async" 
    (@viewportAnimation.done)="viewportOverlayAnimationDone($event)">
  </div>
  <!-- Disable all animations on page if changing pages -->
  <main [@.disabled]="(viewportOverlayAnimationState$ | async) === 'SHOW'">  
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </main>

  <app-site-footer (expandingMenuState)="onFooterMenuStateChange($event)">Footer</app-site-footer>

</div>