@use '../../scss/utility';

:host {

  .images-container {
    // width: 80vw;
    // width: 90%;
    overflow: hidden;
    //height: 45vw;
    // border: solid 1px red;
    display: flex;
    gap: 3vw;
    padding: 1vw;

    @include utility.media-breakpoint-gte(md) {
      // width: 30vw;
      height: 23vw;
    }

    img {
      // width: 90vw;
      height: 45vw;
      // object-fit: contain;
      // border: solid 1px yellow;
      box-shadow: 0px 0px 5px white;
  
      @include utility.media-breakpoint-gte(md) {
        // width: 30vw;
        height: 20vw;
      }
    }

    .images-pills {
      display: flex;
      position: absolute;
      right: 37%;
      top: 83%;
      gap: 2vw;
      
      .pill {
        width: 2rem;
        height: .3rem;
        background-color: lightgray;
      }
    }
  }

}