@use '../../scss/utility';

:host {

  .image-flip-container  {
    overflow: hidden;
  }

  .images-container {
    display: flex;
    gap: 3vw;
    padding: 1vw;
    transition: transform 0.75s ease;

    &.right {
      transform: translate(var(--imageOffsetSmall), 0);

      @include utility.media-breakpoint-gte(sm) {
        transform: translate(var(--imageOffsetLarge), 0);
      }
    }

    @include utility.media-breakpoint-gte(md) {
      height: 23vw;
    }

    img {
      width: 71vw;
      height: 45vw;
      object-fit: contain;
  
      @include utility.media-breakpoint-gte(sm) {
        width: 35.5vw;
        height: 20vw;
      }
    }
  }
  
  .images-pills {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 2vw;
    
    .pill {
      width: 1rem;
      height: .2rem;
      background-color: lightgray;

      @include utility.media-breakpoint-gte(md) {
        width: 2rem;
        height: .3rem;
      }

      &.active {
        background-color: utility.$dive-red;
      }
    }
  }

}