<div *ngIf="loading; else Loaded">
  Loading...
</div>
<ng-template #Loaded>
  <div *ngIf="imageCount === 0">
    No Specials Today
  </div>

<div *ngIf="images$ | async; let images" class="image-flip-container" (swipeLeft)="onSwipe($event, 'L')" (swipeRight)="onSwipe($event, 'R')">
  <div class="images-container" [ngClass]="centeredImage ===  0 ? 'left' : 'right'">
    <div class="image" *ngFor="let imageFilename of images; index as i" >
      <div (tap)="onClick($event, i)">
        <img [src]="imageFilename" draggable="false">
      </div>
    </div>
  </div>
  <div class="images-pills">
    <div class="pill" *ngFor="let indicator of images; index as i" [ngClass]="{active: i === centeredImage}">
      
    </div>
  </div>
</div>

</ng-template>