<div #ImageFlipContainer>
  <div *ngIf="loading; else Loaded">
    Loading...
  </div>
</div>


<ng-template #Loaded>
  <!-- If there are no files from the bucket, do not show the section-->
  <ng-container *ngIf="imageCount > 0">

    <div class="title">
      {{ title }}
    </div>

    <div *ngIf="images$ | async; let images" class="image-flip-container" (swipeLeft)="onSwipe($event, 'L')"
      (swipeRight)="onSwipe($event, 'R')">
      <div *ngIf="centeredImage != 0" class="arrow arrow-left">
        <img src="assets/images/Arrow_Left.svg" (click)="onSwipe($event, 'R')">
      </div>
      <div class="images-container" [ngClass]="centeredImage ===  0 ? 'left' : 'right'">
        <div class="image" *ngFor="let imageFileData of images; index as i">
          <div>
            <img [src]="imageFileData" draggable="false" (tap)="onClick($event, i)">
          </div>
        </div>
      </div>
      <div *ngIf="centeredImage != (images.length - 1)" class="arrow arrow-right">
        <img src="assets/images/Arrow_Right.svg" (click)="onSwipe($event, 'L')">
      </div>
      <div class="images-pills" *ngIf="images.length > 1">
        <div class="pill" *ngFor="let indicator of images; index as i" [ngClass]="{active: i === centeredImage}">

        </div>
      </div>
    </div>
  </ng-container>
</ng-template>