@use 'sass:math';
@use '../../scss/utility';

$closeButtonHeight: clamp(2rem, 10vw, 3rem);
$baseHeaderFontSize: 6vw;
$fontSizeIncrement: 0.75vw;

$headerFontSizes: (
  'zero': $baseHeaderFontSize,
  'xs': ($baseHeaderFontSize - $fontSizeIncrement),
  'sm': ($baseHeaderFontSize - 2 * $fontSizeIncrement),
  'md': ($baseHeaderFontSize - 3 * $fontSizeIncrement),
  'lg': clamp(2rem, 3vw, 3rem) //($baseHeaderFontSize - 4 * $fontSizeIncrement),
  //'xl': ($baseHeaderFontSize - 4 * $fontSizeIncrement),
  //'ws': ($baseHeaderFontSize - 4 * $fontSizeIncrement),
  //'hd': $baseHeaderFontSize - 1vw
);
$buttonFontSizes: (
  'zero': ($baseHeaderFontSize - $fontSizeIncrement),
  'xs': ($baseHeaderFontSize - 2 * $fontSizeIncrement),
  'sm': ($baseHeaderFontSize - 3 * $fontSizeIncrement),
  'md': ($baseHeaderFontSize - 4 * $fontSizeIncrement),
  'lg': clamp(1.5rem, 2vw, 2.5rem) //($baseHeaderFontSize - 5 * $fontSizeIncrement),
);

$skewAmount: 22deg;
$titleSkew: skew(-$skewAmount, 0deg);
$titleTextSkew: skew($skewAmount, 0deg);

:host {
  
  display: block;

  .open-menu-button {
    position: relative;
    //top: -0.5vw;
    overflow: hidden;
    height: clamp(30px, 6vw, 88px);

    >div {
      position: relative;      
      width: clamp(84px, 42vw, 420px);
      height: clamp(84px, 42vw, 420px);
      //padding: 10.5vw 18vw 0;
      background: utility.$dive-black;
      border-radius: 50% 50% 0 0;

      svg {
        position: absolute;
        top: 0.5vw;
        left: 0;
        height: clamp(24px, 5vw, 64px);

        g {
          path {
            stroke: utility.$dive-yellow;
            stroke-width: 10pt;
            stroke-linecap: round;

            &.shadow {
              stroke: utility.$dive-black;
            }
          }
        }
      }
    }
  }

  .link-list-container {
    z-index: 10;
    position: fixed;
    overflow-y: scroll;
    //align-items: flex-start;
    top: 0;
    bottom: 0; //$closeButtonHeight;
    left: 0;
    right: 0;
    background-color: utility.$dive-black;
    
    .grids-container {      
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 600px;
      margin: 0 auto;
    
      h2 {
        display: block;
        margin: 0;
        padding: clamp(1rem, 2vw, 2rem) 0 clamp(1rem, 2vw, 2rem);
        line-height: 1;
        transform: $titleTextSkew;
      }

      ul {
        flex-basis: 100%;
        margin: 0;
        padding: clamp(1rem, 2vw, 2rem);
        list-style: none;

        li {
          width: 100%;
          text-align: center;
          margin-bottom: clamp(0.5rem, 1vw, 1rem);
          background-color: utility.$dive-gray-dk;
          border-radius: clamp(0.5rem, 2vw, 1.5rem);
          a {
            display: block;
            padding: clamp(1rem, 3vw, 2rem);// 0;
            font-size: clamp(1.5rem, 4vw, 2.5rem);
            &::after {
              content: none;
            }
          }
        }
      }
    }

    .grids-container-large {
      .tab-selector-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        //gap: 1vw;
        transform: $titleSkew;

        .tab-selector {
          background-color: utility.$dive-red-dk;
          cursor: pointer;
          //border-radius: clamp(0.5rem, 2vw, 1.5rem);
          box-shadow: 0px 4px 4px 0px #000;

          h2 {
            min-width: 28vw;
            padding: clamp(1rem, 2vw, 2rem);
            font-size: clamp(2rem, 4vw, 3rem);
            color: utility.$dive-yellow;
            text-align: center;
          }
          &.selected {
            background-color: utility.$dive-red;
            h2 {
              color: utility.$dive-white;
            }
          }
        }
      }
      .links-container {
        width: 100%;

        ul {
          padding: 0;
          li {
            width: 100%;
          }
        }
      }

      .grid {
        background-color: utility.$dive-black;

        h2 {
          //display: inline-block;
          font-size: map-get($map: $headerFontSizes, $key: 'zero');
          background-color: utility.$dive-black;

          @include utility.media-breakpoint-gte(xs) {
            font-size: map-get($map: $headerFontSizes, $key: 'xs');
          }

          @include utility.media-breakpoint-gte(sm) {
            font-size: map-get($map: $headerFontSizes, $key: 'sm');
          }

          @include utility.media-breakpoint-gte(md) {
            font-size: map-get($map: $headerFontSizes, $key: 'md');
          }

          @include utility.media-breakpoint-gte(lg) {
            font-size: map-get($map: $headerFontSizes, $key: 'lg');
          }

          text-align: center;
          //background-color: utility.$dive-gray-dk;
          margin: 0;
          padding: 6vw 0 2vw;
        }

        ul {
          display: grid;
          grid-template-columns: 1fr;

          @include utility.media-breakpoint-gte(xs) {
            grid-template-columns: 1fr;
          }

          @include utility.media-breakpoint-gte(sm) {
            grid-template-columns: 1fr 1fr;
          }

          @include utility.media-breakpoint-gte(md) {
            grid-template-columns: repeat(1fr, 4);
          }

          @include utility.media-breakpoint-gte(lg) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
          }

          gap: 1vw;
          // display: flex;
          // flex-direction: row;
          // flex-wrap: wrap;
          // justify-content: flex-start;
          // align-items: flex-start;
          left: 0;

          //height: 100%;
          @media (orientation: portrait) {
            flex-direction: column;
            //width: 100vw;
          }

          margin: 0;
          padding: 0;
          //background-color: utility.$dive-gray-dk3;
          list-style: none;

          li {
            display: flex;
            flex-direction: row;
            //flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 1vw;

            &:last-child {
              //border-bottom: 1px solid utility.$dive-gray-dk3;
            }

            a {
              display: block;
              //position: relative;
              width: 80%;
              padding: 3vw 1vw;

              @include utility.media-breakpoint-gte(sm) {
                padding: 1vw;
                width: 100%;
              }

              background-color: utility.$dive-gray-dk3; // $dive-red-dk;
              text-align: center;
              font-size: map-get($map: $buttonFontSizes, $key: 'zero');
              border-radius: 1vw;

              &::after {
                content: none;
              }

              @include utility.media-breakpoint-gte(xs) {
                font-size: map-get($map: $buttonFontSizes, $key: 'xs');
              }

              @include utility.media-breakpoint-gte(sm) {
                font-size: map-get($map: $buttonFontSizes, $key: 'sm');
              }

              @include utility.media-breakpoint-gte(md) {
                font-size: map-get($map: $buttonFontSizes, $key: 'md');
              }

              @include utility.media-breakpoint-gte(lg) {
                font-size: map-get($map: $buttonFontSizes, $key: 'lg');
              }
            }
          }
        }
      }
    }

    .grids-container-small {
      .menu-section {        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title-block {
          transform: $titleSkew;
          background-color: utility.$dive-red;
          h2 {
            padding: clamp(1rem, 2vw, 2rem) clamp(2rem, 3vw, 3rem);
            //min-width: 40vw;
            text-align: center;            
            transform: $titleTextSkew;
          }
        }
        ul {
          width: 100%;
        }
      }
    }

    .close-button {
      position: fixed;
      bottom: 0;
      //left: 0;
      right: 0;
      //height: $closeButtonHeight;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1vw;
      background-color: utility.$dive-red-dk;//gray-dk3;
      border-radius: 50%;

      svg {
        width: clamp(24px, 5vw, 48px);
        //height: 5vw;

        g {
          path {
            stroke: utility.$dive-yellow;
            stroke-width: 10pt;
          }
        }
      }
    }
  }
}