@use 'sass:math';
@use '../../scss/utility';

$closeButtonHeight: clamp(2rem, 10vw, 3rem);

:host {
  
  .menu-button {    
    overflow: hidden;
    height: 7vw;

    > div {
      width: 42vw;
      //height: 10vw;
      padding: 10.5vw 18vw 0;
      background: utility.$dive-black;
      border-radius: 50% 50% 0 0;
      
      svg {
        position: relative;
        top: -10vw;

        g {
          path {
            stroke: utility.$dive-yellow;
            stroke-width: 10pt;
            stroke-linecap: round;

            &.shadow {
              stroke: utility.$dive-black;
            }
          }
        }
      }
    }
  }

  .link-list-container {
    z-index: 10;
    position: fixed;
    //display: flex;
    //align-items: flex-start;
    top: 0;
    bottom: $closeButtonHeight;
    left: 0;
    right: 0;
    //padding-top: 10vw;
    background-color: utility.$dive-black;

    img {
      width: 40vw;
      display: block;
      @media (orientation: portrait) {
        width: 16vw;
      }
      padding: 2vw;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      left: 0;
      //height: 100%;
      @media (orientation: portrait) {
        flex-direction: column;
        width: 100vw;
      }
      margin: 0;
      padding: 0;
      background-color: utility.$dive-gray-dk3;
      list-style: none;

      li {
        //display: block;
        &:last-child {
          //border-bottom: 1px solid utility.$dive-gray-dk3;
        }
        
        a {
          display: block;
          position: relative;
          padding: 2vw;
          margin: 1vw;
          border: 1px solid utility.$dive-yellow;
          background-color: utility.$dive-gray-dk;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }

    .close-button {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: $closeButtonHeight;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: utility.$dive-black;

      svg {
        width: 5vw;
        height: 5vw;

        g {
          path {
            stroke: utility.$dive-yellow;
            stroke-width: 10pt;
          }
        }
      }
    }
  }
}