@use 'sass:math';
@use '../../../scss/utility';

$headerColor: utility.$dive-gray-dk3;
$verticalGap: 0.75rem;

:host {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;    
  width: 100%;  

  font-size: 3.5vw;
  @include utility.media-breakpoint-gte(xs) {
    font-size: 2.5vw;
  }
  @include utility.media-breakpoint-gte(sm) {
    font-size: 2.5vw;
  }
  @include utility.media-breakpoint-gte(md) {
    font-size: 2vw;
  }
  @include utility.media-breakpoint-gte(lg) {
    font-size: 1.75vw;
  }
  @include utility.media-breakpoint-gte(xl) {
    font-size: 1.5vw;
  }
  @include utility.media-breakpoint-gte(ws) {
    font-size: 1.25vw;
  }
  @include utility.media-breakpoint-gte(hd) {
    font-size: 1vw;
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: center;
    @include utility.media-breakpoint-gte(sm) {
      justify-content: center;
    }
    gap: 0vw;
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 2;

    transform: translateY(-86%);
    transition: transform 0.4s ease-out;
    &.nav-expanded {
      transform: translateY(0%);
    }

    li {
      position: relative;      
      overflow: hidden;
      transform: skewX(-22deg);
      background-color: $headerColor;
      box-shadow: 0px 4px 4px 0px #000;
      min-width: math.div(320px,4);
      //width: 23vw;
      // @include utility.media-breakpoint-gte(sm) {
      //   width: 20vw;
      // }
      // @include utility.media-breakpoint-gte(md) {
      //   width: 10vw;
      // }
      white-space: nowrap;
      text-align: center;
      .selected-bg {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background: utility.$dive-red;
      }
      a {
        cursor: pointer;
        display: inline-block;
        position: relative;
        padding: 0.5vw 3vw;
        transition: all 0.5s ease;
        color: utility.$dive-yellow;
        transform: skewX(22deg);
        font-family: 'Righteous', cursive;
        &::after {
          content: none;
        }
        &.active {
          color: utility.$dive-white;
          text-shadow: 1px 1px 2px #000;
          cursor: default;
          pointer-events: none;
        } 
      }      
    }
  }

  svg {    
    padding: 0.5vw;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    .outline {
      path {
        fill: transparent; //utility.$dive-black;
      }
    }
    .fill {
      path {
        fill: utility.$dive-yellow;
      }
    }
  }
  .nav-toggle-button {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 8vw;
    height: 8vw;
    z-index: 3;

    &.nav-expanded {
      svg {
        top: -2.75vw;
        right: -2.75vw;
        transform: rotate(180deg);
        @include utility.media-breakpoint-gte(md) {
          top: -2vw;
          right: -2vw;
        }
      }
    }

    svg {
      position: absolute;
      max-width: 8vw;
      right: -2vw; //-2.75vw;
      top: -2vw; //-2.75vw;    
      transform: rotate(0deg) scale(0.75);
      transition: all 0.4s ease-out; //, right 0.4s ease-out;
    }
    @include utility.media-breakpoint-gte(md) {
      width: 6vw;
      height: 6vw;
      svg {        
        top: -1vw; //-2vw;
        right: -1vw; //-2vw;
      }
    }

  }
}