@use '../../scss/utility';

$zoomAnimationTime: 0.6s;

:host {
  .main {
    position: relative;

    .hero-banner-container {
      position: relative;

      .reserve-container {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        bottom: 0vw;
        left: 50vw;
        transform: translate(-50%, 25%);
        font-size: clamp(1rem, 2vw, 3rem);

        @include utility.media-breakpoint-gte(min) {
          //bottom: 46vw;
        }

        @include utility.media-breakpoint-gte(xs) {
          //bottom: 35vw;
        }

        @include utility.media-breakpoint-gte(sm) {
          //bottom: 27vw;
        }

        @include utility.media-breakpoint-gte(lg) {
          //bottom: 22vw;
        }

        .top-cta {
          z-index: 2;
          position: relative;
          top: -1vw;
          border-radius: 2vw;

          .circle-link {
            z-index: 2;
            position: relative;
            padding: 1vw;
            border: 1vw solid utility.$dive-yellow;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            box-shadow: 0px 2px 8px 4px #000;

            svg,
            img {
              display: block;
              width: 100%;

              g {
                path {
                  stroke: utility.$dive-yellow;
                  fill: utility.$dive-yellow;
                }
              }
            }

            &.message-bottle {
              width: 22vw;

              @include utility.media-breakpoint-gte(xs) {
                width: 24vw;
              }

              @include utility.media-breakpoint-gte(sm) {
                width: 22vw;
              }

              @include utility.media-breakpoint-gte(md) {
                width: 20vw;
              }

              @include utility.media-breakpoint-gte(lg) {}

              @media (orientation: portrait) {
                width: 32vw;

                @include utility.media-breakpoint-gte(xs) {
                  width: 24vw;
                }

                @include utility.media-breakpoint-gte(sm) {
                  width: 22vw;
                }

                @include utility.media-breakpoint-gte(md) {
                  width: 20vw;
                }

                @include utility.media-breakpoint-gte(lg) {
                  //width: 10vw;
                }
              }
            }
          }

          &.secondary-link {
            z-index: 1;
            position: relative;
            margin: 2vw -3vw 0;

            width: 18vw;

              @include utility.media-breakpoint-gte(xs) {
                width: 20vw;
              }

              @include utility.media-breakpoint-gte(sm) {
                width: 18vw;
              }

              @include utility.media-breakpoint-gte(md) {
                width: 16vw;
              }

              @include utility.media-breakpoint-gte(lg) {}

              @media (orientation: portrait) {
                width: 28vw;

                @include utility.media-breakpoint-gte(xs) {
                  width: 20vw;
                }

                @include utility.media-breakpoint-gte(sm) {
                  width: 18vw;
                }

                @include utility.media-breakpoint-gte(md) {
                  width: 16vw;
                }

                @include utility.media-breakpoint-gte(lg) {
                  //width: 10vw;
                }
              }

            .circle-link {
              border-width: 0.7vw;
            }
          }
        }
      }
    }

    .section-red {
      $bgColor: transparent;
      $bgColor2: utility.$dive-red;
      background-color: darken($bgColor2, 17%);
      background-image:
        radial-gradient(circle at 50% 20%, $bgColor2 20%, $bgColor 60%),
        radial-gradient(circle at 50% 50%, $bgColor2 15%, $bgColor 60%),
        radial-gradient(circle at 50% 80%, $bgColor2 15%, $bgColor 60%),
        linear-gradient(0deg, transparent 0%, transparent 99.5%, utility.$dive-black 100%);

      @include utility.media-breakpoint-gte(sm) {
        background-image:
          radial-gradient(circle at 50% 50%, $bgColor2 20%, $bgColor 40%),
          radial-gradient(circle at 20% 50%, $bgColor2 15%, $bgColor 30%),
          radial-gradient(circle at 80% 50%, $bgColor2 15%, $bgColor 30%),
          linear-gradient(0deg, transparent 0%, transparent 99.5%, utility.$dive-black 100%);
      }


      .flyer {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        padding: clamp(0.25rem, 1vw, 2rem);
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all $zoomAnimationTime ease-in-out, box-shadow 0.2s linear;

        img {
          display: block;
          width: 80vw;
          max-width: 960px;
          transition: all $zoomAnimationTime ease-in-out, box-shadow 0.2s linear;
        }
      }
    }

    .separator {
      display: flex;
      justify-content: center;
      padding: clamp(2rem, 14vw, 30rem) 0 clamp(2rem, 18vw, 30rem);

      img {
        width: 12vw;
      }
    }

    $waveSize: 6vw;
    $waveSizeSm: 5vw;
    $waveSizeMd: 4vw;
    $waveSizeLg: 3vw;

    .waves-separator {
      position: relative;
      z-index: 1;
      display: flex;
      height: $waveSize;
      width: 100%;
      top: -($waveSize - 0.5vw);
      background-image: url('/assets/images/wave.svg');

      @include utility.media-breakpoint-gte(sm) {
        height: $waveSizeSm;
        top: -($waveSizeSm - 0.5vw);
      }

      @include utility.media-breakpoint-gte(md) {
        height: $waveSizeMd;
        top: -($waveSizeMd - 0.5vw);
      }

      @include utility.media-breakpoint-gte(lg) {
        height: $waveSizeMd;
        top: -($waveSizeMd - 0.5vw);
      }

      &.footer {
        height: 2vw;
        top: 2px;
        background-image: url('/assets/images/wave-red.svg');
      }
    }

    .reservation-form-container {
      display: flex;
      justify-content: center;
      padding: 2vw 5vw;
      app-reservation-form {
        display: block;
        width: 300px;
      }
    }
  }
}