<div class="main" id="title">
  <div id="hero" class="hero-banner-container">
    <app-hero-banner
      imgSrc="url(assets/images/private-parties/private_parties_bg_retouch.jpg)"
      [textLines]="heroBannerTitleLines"
      [orientationConfigs]="heroBannerConfigs"
    >
    </app-hero-banner>
  </div> 
  <div class="page-content">
    <h2>Plan your next occasion at the Dive Inn</h2>
    <p>Check our <a href="https://www.facebook.com/diveinndenver/">Facebook</a> page for the latest announcements.</p>
  </div>    
  <div class="separator">
    <!-- <img src="assets/images/chains.svg" /> -->
  </div>
</div>