<div id="top" class="main">
  <div class="hero-banner-container">
    <app-hero-banner
      imgSrc="url(assets/images/EventsBg.jpg)"
      [textLines]="heroBannerTitleLines"
      [orientationConfigs]="heroBannerConfigs"
    >      
    </app-hero-banner>
    <div class="hero-banner-content">
      <button id="qb" class="content menu" [class.fullscreen]="fullscreen" (click)="onClick()">
        <img src="assets/images/events/qb_challenge.jpg" />
      </button>
      <!-- <app-image-flip>
        [images$]="eventsImages$"
      </app-image-flip> -->
    </div>
    <img class="logo" src="assets/images/logo_events2.svg" />    
  </div> 
  <div class="separator">
    <img src="assets/images/football_helmet_flat2.svg" />
  </div>
</div>