<div class="title-callout">
  <h2 class="title-callout-title">
    <div style="--animation-order: 0" data-content="F">F</div>
    <div style="--animation-order: 1" data-content="e">e</div>
    <div style="--animation-order: 2" data-content="a">a</div>
    <div style="--animation-order: 3" data-content="t">t</div>
    <div style="--animation-order: 4" data-content="u">u</div>
    <div style="--animation-order: 5" data-content="r">r</div>
    <div style="--animation-order: 6" data-content="i">i</div>
    <div style="--animation-order: 7" data-content="n">n</div>
    <div style="--animation-order: 8" data-content="g">g</div>
  </h2>
  <div class="title-callout-content">
    <a appAnimateViewportOverlay="/menu#taki" class="takis">
      <img src="assets/images/Taki Takos Logo Transparent.png" />      
    </a>
    <a appAnimateViewportOverlay="/menu#cluck" class="cluck">
      <img src="assets/images/menu/Cluck/Cluck_logo.png" />
    </a>
  </div>
</div>