@use '../../scss/utility';

$textColor: utility.$dive-gray-dk2;
$textColorLt: utility.$dive-yellow;
$animationTime: 5s;
// zero, sm, md
$cluckLogoSizesLandscape: 16vw, 15vw, 12vw;
$takiLogoSizesLandscape: 20vw, 20vw, 15vw;
$cluckLogoSizesPortrait: 26vw, 20vw, 12vw;
$takiLogoSizesPortrait: 33vw, 25vw, 15vw;

@keyframes attentionBlink {
  0% {
    opacity: 1;
    text-shadow: none;
    color: $textColor;
    transform: scale(1) rotate(25deg);
  }

  2.5% {
    opacity: 1;
    text-shadow: 0px 0px 3px $textColorLt;
    color: $textColorLt;
    transform: scale(1) rotate(25deg);
  }

  5% {
    opacity: 1;
    text-shadow: none;
    color: $textColor;
    transform: scale(1) rotate(25deg);
  }
}

@keyframes attentionBlink2 {
  0% {
    opacity: 0;
    text-shadow: none;
    color: $textColor;
  }

  2.5% {
    opacity: 1;
    color: $textColorLt;
    transform: scale(1);
    text-shadow: 0px 0px 3px $textColorLt;
  }

  17.5% {
    opacity: 1;
    color: $textColorLt;
    transform: scale(1);
    text-shadow: 0px 0px 3px $textColorLt;
  }

  29% {
    opacity: 0;
    text-shadow: none;
    color: $textColor;
  }

  30% {
    opacity: 0;
    text-shadow: none;
    color: $textColor;
  }

  32.5% {
    opacity: 1;
    color: $textColorLt;
    text-shadow: 0px 0px 3px $textColorLt;
  }

  47.5% {
    opacity: 1;
    color: $textColorLt;
    text-shadow: 0px 0px 3px $textColorLt;
  }

  54% {
    opacity: 0;
    text-shadow: none;
    color: $textColor;
  }
}

:host {
  //background-color: rgba(0, 0, 0, 0.5);
  //border-radius: 25%;

  .title-callout {
    z-index: 4; // @TODO: why do we need 4 to be above slide-out logo?
    position: relative;
    //margin: 2vw 2vw 0 2vw;

    .title-callout-title {
      display: none;
      position: absolute;
      top: 2vw;
      left: 60%;
      margin: 0;
      padding: 0;
      text-align: center;
      transform: translateX(-50%) rotate(-25deg);
      font-size: 2vw;

      @include utility.media-breakpoint-gte(sm) {
        display: block;
        left: 55.5%;
        top: 2vw;
        font-size: 1.5vw;
      }

      @include utility.media-breakpoint-gte(md) {
        display: block;
        top: 2vw;
        left: 55%;
        font-size: 1.1vw;
      }

      @media (orientation: portrait) {
        @include utility.media-breakpoint-gte(sm) {
          display: block;
          left: 54%;
          top: 3vw;
          font-size: 1.75vw;
        }
  
        @include utility.media-breakpoint-gte(md) {
          display: block;
          top: 2vw;
          left: 55%;
          font-size: 1.1vw;
        }
      }

      div {
        position: relative;
        margin: 0;
        padding: 0;
        line-height: 0.9;
        transform: rotate(25deg);
        color: utility.$dive-gray-dk2;
        text-shadow: 2px 2px 2px #000;
        opacity: 1; //0.5;
        animation: attentionBlink $animationTime linear infinite;
        animation-delay: calc(var(--animation-order) * 200ms);

        &::before {
          content: attr(data-content);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          color: utility.$dive-gray-dk2;
          opacity: 0;
          animation: attentionBlink2 $animationTime linear infinite;
          animation-delay: 2.2s;
        }
      }
    }

    .title-callout-content {
      display: flex;
      
      a {
        display: block;
        width: 100%;

        &::after {
          content: none;
        }

        opacity: 0.75;

        @include utility.media-breakpoint-gte(md) {
          opacity: 0.5;
        }

        transition: opacity 0.2s ease;

        img {
          width: 100%;
        }
      }


      .takis {

        &:hover,
        &:active {
          opacity: 1;
        }

        img {
          width: nth($takiLogoSizesLandscape, 1);
          max-height: nth($takiLogoSizesLandscape, 1);

          @include utility.media-breakpoint-gte(sm) {
            width: nth($takiLogoSizesLandscape, 2);
            max-height: nth($takiLogoSizesLandscape, 2);
          }

          @include utility.media-breakpoint-gte(md) {
            width: nth($takiLogoSizesLandscape, 3);
            max-height: nth($takiLogoSizesLandscape, 3);
          }

          @media (orientation: portrait) {
            width: nth($takiLogoSizesPortrait, 1);
            max-height: nth($takiLogoSizesPortrait, 1);

            @include utility.media-breakpoint-gte(sm) {
              width: nth($takiLogoSizesPortrait, 2);
              max-height: nth($takiLogoSizesPortrait, 2);
            }

            @include utility.media-breakpoint-gte(md) {
              width: nth($takiLogoSizesPortrait, 3);
              max-height: nth($takiLogoSizesPortrait, 3);
            }
          }
        }
      }

      .cluck {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 1vw;

        @include utility.media-breakpoint-gte(sm) {
          //right: -2.5vw;
        }

        @include utility.media-breakpoint-gte(md) {
          //right: -0.75vw;
        }

        &:hover,
        &:active {
          opacity: 1;
        }

        img {
          width: nth($cluckLogoSizesLandscape, 1);
          max-height: nth($cluckLogoSizesLandscape, 1);

          @include utility.media-breakpoint-gte(sm) {
            width: nth($cluckLogoSizesLandscape, 2);
            max-height: nth($cluckLogoSizesLandscape, 2);
          }

          @include utility.media-breakpoint-gte(md) {
            width: nth($cluckLogoSizesLandscape, 3);
            max-height: nth($cluckLogoSizesLandscape, 3);
          }

          @media (orientation: portrait) {
            width: nth($cluckLogoSizesPortrait, 1);
            max-height: nth($cluckLogoSizesPortrait, 1);

            @include utility.media-breakpoint-gte(sm) {
              width: nth($cluckLogoSizesPortrait, 2);
              max-height: nth($cluckLogoSizesPortrait, 2);
            }

            @include utility.media-breakpoint-gte(md) {
              width: nth($cluckLogoSizesPortrait, 3);
              max-height: nth($cluckLogoSizesPortrait, 3);
            }
          }
        }
      }
    }
  }
}