:host {
  display: block;

  .image-list-overlay {
    z-index: 11; // TODO: why 10 necessary here?
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5vw;
    text-align: center;
    background-color: rgba(0,0,0,0.85);

    h2 {
      color: white;
    }
    
    .window {
      overflow: hidden;
    }

    .images-container {
      width: 90vw;
      height: 90vh;
      display: flex;
      // overflow: hidden;
      transition: transform 0.75s ease;
      transform: translate(var(--imageOffset), 0);
      // user-select: none;
      
      .image {
        width: 100%;
        object-fit: contain;
        // overflow: hidden;
        
        img {
          width: 90vw;
          height: 90vh;
          object-fit: contain;
        }
      }
    }

    .arrow {
      position: absolute;
      width: 7vw;
      top: 17%;
      left: 2vw;
      // user-select: none;
      z-index: 1;

      &.arrow-right {
        left: unset;
        right: 3%;
      }

      // @include utility.media-breakpoint-gte(sm) {
      //   width: 2vw;
      // }
    }
  }
}