:host {
  display: block;

  .image-list-overlay {
    z-index: 10; // TODO: why 10 necessary here?
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: rgba(0,0,0,0.5);

    h2 {
      color: white;
    }
  }

  .images-container {
    width: 90vw;
    height: 90vh;
    display: flex;
    // overflow: hidden;
    transform: translate(var(--imageOffset), 0);
    // user-select: none;

    .image {
      // overflow: hidden;
    }

    img {
      object-fit: contain;
    }
  }
}