@font-face {
  font-family: 'Bevan';
  src: url('/assets/fonts/Bevan-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf')  format('truetype');
}
