// Typography

html, body {
  // font-family: 'Audiowide', cursive;
  // font-family: 'Chivo', sans-serif;
  // font-family: 'Comforter', cursive;
  // font-family: 'Economica', sans-serif;
  // font-family: 'Fira Sans', sans-serif;
  // font-family: 'Mulish', sans-serif;
  // font-family: 'Neonderthaw', cursive;
  // font-family: 'Oleo Script', cursive;
  // font-family: 'Righteous', cursive;
  // font-family: 'Share Tech', sans-serif;
  // font-family: 'Ubuntu', sans-serif;
  // font-family: 'Yellowtail', cursive;

  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bevan', serif;
  font-weight: normal;
  text-rendering: geometricPrecision;
}

button, a {
  font-family: 'Righteous', sans-serif;
  font-weight: normal;
}